@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --user-font-scale: 1rem - 16px;
    --astro-code-color-text: #c9d1d9;
    --astro-code-color-background: #0d1117;
    --astro-code-token-constant: #79b8ff;
    --astro-code-token-string: #9ecbff;
    --astro-code-token-comment: #6a737d;
    --astro-code-token-keyword: #f97583;
    --astro-code-token-parameter: #e1e4e8;
    --astro-code-token-function: #e1e4e8;
    --astro-code-token-string-expression: #79b8ff;
    --astro-code-token-punctuation: #ffab70;
    --astro-code-token-link: honeydew;
  }

  body {
    @apply bg-black font-body text-gray-200 dark:antialiased;
    font-size: 1rem;
    font-size: clamp(
      0.875rem,
      0.4626rem + 1.0309vw + var(--user-font-scale),
      1.125rem
    );
    line-height: 1.625;
  }

  a {
    @apply font-bold text-green-400 hover:underline focus:underline;
  }

  blockquote {
    @apply relative border-l-4 border-green-500 px-4 py-2 font-callout text-lg text-green-500 subpixel-antialiased md:px-6 md:text-xl lg:text-2xl;
  }
}

@layer components {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply font-mono font-normal tracking-tight text-white;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply mt-[2.5rem] text-yellow-400 md:mt-[3rem];
  }

  .h1,
  .prose h1 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  .h2,
  .prose h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  .h3,
  .prose h3 {
    @apply text-lg md:text-xl lg:text-2xl;
  }

  .h4,
  .prose h4 {
    @apply text-base md:text-lg lg:text-xl;
  }

  .h5,
  .prose h5 {
    @apply text-base uppercase md:text-lg lg:text-xl;
  }

  .h6,
  .prose h6 {
    @apply font-callout text-base uppercase md:text-lg lg:text-xl;
  }

  .mb-heading-base {
    @apply mb-[1rem];
  }

  .mb-heading-md {
    @apply mb-[1.5rem];
  }

  .mb-heading-lg {
    @apply mb-[2rem];
  }

  .mb-heading-xl {
    @apply mb-[3rem];
  }

  .pagination {
    @apply my-8 flex border-t border-gray-800 py-4;
  }

  .hr {
    @apply my-8 block text-xs before:mx-auto before:block before:font-mono before:text-green-500 before:content-['▙▘▟▝▖▛▍▞▃▉▗▚▜'];
  }

  .prose > * + * {
    @apply mt-[1.25rem] md:mt-[1.5rem] lg:mt-[2rem];
  }

  .prose ol {
    @apply list-inside list-decimal space-y-4;
  }

  .prose ol li::marker {
    @apply font-bold text-yellow-400;
  }

  .prose ul {
    @apply list-inside list-disc space-y-4;
  }

  .prose ul ul {
    @apply ml-[1rem] mt-[1rem] md:ml-[1.5rem] lg:ml-[2rem];
  }

  .prose strong {
    @apply font-bold;
  }

  .prose hr {
    @apply my-8 block overflow-visible border-none text-xs before:block before:font-mono before:text-green-500 before:content-['▙▘▟▝▖▛▍▞▃▉▗▚▜'];
  }

  .prose code {
    @apply break-words text-yellow-400;
  }

  .prose p > img {
    @apply rounded-bl-2xl rounded-tr-2xl border-2 border-green-400;
  }

  .prose a code {
    @apply text-inherit;
  }

  .blog-tags {
    @apply flex flex-wrap gap-1;
  }

  .blog-tags.blog-tags-lg {
    @apply gap-2;
  }

  .blog-tag {
    @apply rounded-bl rounded-tr bg-transparent px-1 py-0.5 font-mono text-xs font-bold text-gray-400 hover:no-underline focus:no-underline;
    @apply before:inline before:text-green-500 before:content-['#'];
    @apply group-hover:bg-green-500 group-hover:text-black group-hover:before:text-black;
    @apply hover:bg-green-500 hover:text-black hover:before:text-black;
    @apply focus:bg-green-500 focus:text-black focus:before:text-black;
  }

  .blog-tags.blog-tags-lg .blog-tag {
    @apply p-2 text-lg;
  }
}

.astro-code {
  @apply rounded border-2 border-white/10 !bg-code p-2 md:p-4;
}

.code-block-label {
  @apply -mb-[2px] inline-block rounded-t border-l-2 border-r-2 border-t-2 border-white/10 bg-[#0d1117] p-2 font-mono text-sm text-white/60 md:px-4;
}
