---
export interface Props {
  url: {
    prev?: string;
    next?: string;
  };
}

const { url } = Astro.props;
---

{
  (url.prev || url.next) && (
    <div class="pagination">
      {url.prev && (
        <a
          href={url.prev}
          rel="prefetch"
          class="mr-auto block py-4 pr-4 text-sm"
        >
          <span class="sr-only">Previous Page</span>
          &larr;
        </a>
      )}
      {url.next && (
        <a
          href={url.next}
          rel="prefetch"
          class="ml-auto block py-4 pl-4 text-sm"
        >
          <span class="sr-only">Next Page</span>
          &rarr;
        </a>
      )}
    </div>
  )
}
