---
import Logo from "./Logo.astro";
---

<header class="container max-w-3xl mx-auto px-4 md:mb-12">
  <a
    href="#content"
    class="sr-only focus:not-sr-only !absolute bg-black z-50 block !px-4 !py-2 font-mono !no-underline"
  >
    Skip to Main Content</a
  >

  <div class="my-4 flex gap-4 md:gap-6 items-center font-mono">
    <a href="/" rel="prefetch" class="text-sm">
      <Logo class="w-8 h-8 block mx-auto" />
    </a>

    <a href="/writing" rel="prefetch" class="text-sm">Writing</a>
    <!-- <a href="/experiments" class="text-sm">Experiments</a> -->
    <a href="mailto:shawkdsn@gmail.com" class="text-sm">Contact</a>
  </div>
</header>
