---
import Logo from './Logo.astro';
---

<header class="container mx-auto max-w-3xl px-4 md:mb-12">
  <a
    href="#content"
    class="sr-only !absolute z-50 block bg-black !px-4 !py-2 font-mono !no-underline focus:not-sr-only"
  >
    Skip to Main Content</a
  >

  <div class="my-4 flex items-center gap-4 font-mono md:gap-6">
    <a href="/" rel="prefetch" class="text-sm">
      <Logo class="mx-auto block h-8 w-8" />
      <span class="sr-only">Home</span>
    </a>

    <a href="/writing" rel="prefetch" class="text-sm">Writing</a>
    <!-- <a href="/experiments" class="text-sm">Experiments</a> -->
    <a href="mailto:shawkdsn@gmail.com" class="text-sm">Contact</a>
  </div>
</header>
