---
import SpeedInsights from '@vercel/speed-insights/astro';
import { ViewTransitions } from 'astro:transitions';

import BaseHead from '@/components/BaseHead.astro';
import PageHeader from '@/components/PageHeader.astro';

const { content } = Astro.props;
const { title, description } = content;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <ViewTransitions />
  </head>

  <body>
    <PageHeader />

    <main id="content" class="container mx-auto my-4 max-w-3xl px-4">
      <div class="mt-8 flex flex-col sm:mt-12 md:mt-16 md:flex-row">
        <div class="grow">
          <slot name="main" />
        </div>

        <div class="no-shrink md:max-w-[200px]">
          <slot name="sidebar" />
        </div>
      </div>
    </main>

    <SpeedInsights />
  </body>
</html>
