---
import PageHeader from "../components/PageHeader.astro";
import BaseHead from "../components/BaseHead.astro";

const { content } = Astro.props;
const { title, description, permalink } = content;
---

<html lang={content.lang || "en"}>
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <PageHeader />

    <main id="content" class="container mx-auto max-w-3xl px-4 my-4">
      <div class="flex flex-col md:flex-row">
        <div class="grow">
          <slot name="main" />
        </div>

        <div class="md:max-w-[200px] no-shrink">
          <slot name="sidebar" />
        </div>
      </div>
    </main>
  </body>
</html>
